*{
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
}

.contaniner{
    width: 80%;
    max-width: 100px;
}

img{
    width: 300px;
    border-radius: 400px;
}

h1 {
    color: white;
}

h2 {
    color: gray;
}

h3 {
    color: #ffcc01;
}

h4 { 
    color: white;
}

p {
    color: white;
}

i{
    color: #ffcc01;
}

a{
    text-decoration: none;
}

/* header */ 
#header { 
    display: inline;
}

#buttons {
    float: right;
    margin-left: 50px;
    margin-top: 20px;
}
#img{
    float: left;
    margin-left: 100px;
}

#title{
    float: left;
    height: 165px;
    margin-top: 80px;
    width: 40%;
}

#cartel{
    background: #ffcc01;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}
#about-me{
    float: left;
    clear: both;
    margin-left: 150px;
    width: 80%;
}

#p-about{
    margin-right: 100px;
}

#aside{
    float: left;
    margin-top: 10px;
    text-align: left;
    width: 80%;
    display: inline-flex;
    margin-left: 105px;
}

#contact {
    text-align: left;
    float: left;
    margin-left: 30px;
    padding: 10px;
}

#langs{
    text-align: left;
    float: left;
    margin-left: 45px;
    padding: 10px;
    
}

.pe{
    display: inline;
    margin-top: 5px;
}

.ps{
    display: inline;
}

#adw{
    text-align: left;
    float: left;
    margin-left: 50px;
    height: 200px;
    padding: 10px;
}

#content{
    float: left;
    width: 80%;
    margin-left: 130px;
    margin-top: 100px;
}

#logos{
    float: left;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 125px;
}
.img-l{
    width: 80px;
    transition: transform 0.5;
}

.img-l:hover{
    transform: scale(1.2);
}


#btn-up{
    float: left;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin-left: 100px;
}

.footer{
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
