*{
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
}

img{
    width: 300px;
    border-radius: 400px;
}

h1 {
    color: white;
}

h2 {
    color: gray;
}

h3 {
    color: #ffcc01;
}

h4 { 
    color: white;
}

p {
    color: white;
}

i{
    color: #ffcc01;
}

a{
    text-decoration: none;
}

/* header */ 
header { 
    margin-left: 150px;
}

#buttons {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
#img{
    float: left;
}

#title{
    float: left;
    height: 165px;
    margin-top: 80px;
}

#cartel{
    background: #ffcc01;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}
#about-me{
    float: left;
    clear: both;
    margin-left: 293px;
    width: 80%;
}

#p-about{
    margin-right: 100px;
}

#aside{
    float: left;
    width: 20%;
    margin-left: 250px;
    margin-top: 10px;
}

#contact {
    text-align: right;
}

#langs{
    text-align: right;
}

.pe{
    display: inline;
}

.ps{
    display: inline;
}

#adw{
    text-align: right;
}

#content{
    float: left;
    width: 50%;
    margin-left: 42px;
    margin-top: 10px;
}

#logos{
    float: left;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.img-l{
    width: 80px;
}


#btn-up{
    float: left;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin-left: 100px;
}

.footer{
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    margin-left: 350px;
}
